# Python
__pycache__/
*.pyc

# Logs
*.log
*.txt

# Packet captures
*.pcap
*.pcapng

# Results / archives
*.zip
iot-sim-results*/

# IDS outputs
suricata_out/
suricata-output/
zeek_out/

# MQTT temp
mosq-tmp/

# OS
.DS_Store
Thumbs.db
